# Git files
.git
.gitattributes
.gitignore
.lfsconfig
.cbfBlacklist
.cbfProject
 
#build files
build/usr/local/bin/bashlib
docker-compose.*
bin/*
vols*/*
**/CRF.properties
**/CBF.properties
**/scanned.paths
**/*.loaded

# Information files
LICENSE
README.md
